/*-- Google Font --*/
@font-face{font-family:'Paytone One';font-style:normal;font-weight:400;font-display:swap;src:local('Paytone One Regular'),local('PaytoneOne-Regular'),url(https://cdn.rawgit.org/fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTigPvNiA.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB}
@font-face{font-family:'Paytone One';font-style:normal;font-weight:400;font-display:swap;src:local('Paytone One Regular'),local('PaytoneOne-Regular'),url(https://cdn.rawgit.org/fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTjgPvNiA.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}
@font-face{font-family:'Paytone One';font-style:normal;font-weight:400;font-display:swap;src:local('Paytone One Regular'),local('PaytoneOne-Regular'),url(https://cdn.rawgit.org/fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTtgPs.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}

/*-- Font Awesome 5 Free --*/
@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-regular-400.svg#fontawesome) format("svg")}.fab,.far{font-weight:400}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family:"Font Awesome 5 Free"}.fa,.fas{font-weight:900}

/*-- Media Sosial Font Awesome 5 Free --*/
.social a:before{display:inline-block;font-family:'Font Awesome 5 Brands';font-style:normal;font-weight:400}
.social .blogger a:before{content:"\f37d"}
.social .facebook a:before{content:"\f09a"}
.social .facebook-f a:before{content:"\f39e"}
.social .twitter a:before{content:"\f099"}
.social .rss a:before{content:"\f09e";font-family:'Font Awesome 5 Free';font-weight:900}
.social .youtube a:before{content:"\f167"}
.social .skype a:before{content:"\f17e"}
.social .stumbleupon a:before{content:"\f1a4"}
.social .tumblr a:before{content:"\f173"}
.social .vk a:before{content:"\f189"}
.social .stack-overflow a:before{content:"\f16c"}
.social .github a:before{content:"\f09b"}
.social .linkedin a:before{content:"\f0e1"}
.social .dribbble a:before{content:"\f17d"}
.social .soundcloud a:before{content:"\f1be"}
.social .behance a:before{content:"\f1b4"}
.social .digg a:before{content:"\f1a6"}
.social .instagram a:before{content:"\f16d"}
.social .pinterest a:before{content:"\f0d2"}
.social .pinterest-p a:before{content:"\f231"}
.social .twitch a:before{content:"\f1e8"}
.social .delicious a:before{content:"\f1a5"}
.social .codepen a:before{content:"\f1cb"}
.social .flipboard a:before{content:"\f44d"}
.social .reddit a:before{content:"\f281"}
.social .whatsapp a:before{content:"\f232"}
.social .messenger a:before{content:"\f39f"}
.social .snapchat a:before{content:"\f2ac"}
.social .telegram a:before{content:"\f3fe"}
.social .email a:before{content:"\f0e0";font-family:'Font Awesome 5 Free';font-weight:400}
.social .external-link a:before{content:"\f35d";font-family:'Font Awesome 5 Free';font-weight:900}
.social-color .blogger a,.social-hover-color .blogger a:hover{background-color:#ff5722}
.social-color .facebook a,.social-color .facebook-f a,.social-hover-color .facebook a:hover,.social-hover-color .facebook-f a:hover{background-color:#3b5999}
.social-color .twitter a,.social-hover-color .twitter a:hover{background-color:#00acee}
.social-color .youtube a,.social-hover-color .youtube a:hover{background-color:#f50000}
.social-color .instagram a,.social-hover-color .instagram a:hover{background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)}
.social-color .pinterest a,.social-color .pinterest-p a,.social-hover-color .pinterest a:hover,.social-hover-color .pinterest-p a:hover{background-color:#ca2127}
.social-color .dribbble a,.social-hover-color .dribbble a:hover{background-color:#ea4c89}
.social-color .linkedin a,.social-hover-color .linkedin a:hover{background-color:#0077b5}
.social-color .tumblr a,.social-hover-color .tumblr a:hover{background-color:#365069}
.social-color .twitch a,.social-hover-color .twitch a:hover{background-color:#6441a5}
.social-color .rss a,.social-hover-color .rss a:hover{background-color:#ffc200}
.social-color .skype a,.social-hover-color .skype a:hover{background-color:#00aff0}
.social-color .stumbleupon a,.social-hover-color .stumbleupon a:hover{background-color:#eb4823}
.social-color .vk a,.social-hover-color .vk a:hover{background-color:#4a76a8}
.social-color .stack-overflow a,.social-hover-color .stack-overflow a:hover{background-color:#f48024}
.social-color .github a,.social-hover-color .github a:hover{background-color:#24292e}
.social-color .soundcloud a,.social-hover-color .soundcloud a:hover{background:linear-gradient(#ff7400,#ff3400)}
.social-color .behance a,.social-hover-color .behance a:hover{background-color:#191919}
.social-color .digg a,.social-hover-color .digg a:hover{background-color:#1b1a19}
.social-color .delicious a,.social-hover-color .delicious a:hover{background-color:#0076e8}
.social-color .codepen a,.social-hover-color .codepen a:hover{background-color:#000}
.social-color .flipboard a,.social-hover-color .flipboard a:hover{background-color:#f52828}
.social-color .reddit a,.social-hover-color .reddit a:hover{background-color:#ff4500}
.social-color .whatsapp a,.social-hover-color .whatsapp a:hover{background-color:#3fbb50}
.social-color .messenger a,.social-hover-color .messenger a:hover{background-color:#0084ff}
.social-color .snapchat a,.social-hover-color .snapchat a:hover{background-color:#ffe700}
.social-color .telegram a,.social-hover-color .telegram a:hover{background-color:#179cde}
.social-color .email a,.social-hover-color .email a:hover{background-color:#888}
.social-color .external-link a,.social-hover-color .external-link a:hover{background-color:$(darkbutton.bg)}
